name: Test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node: ['20.11.1']
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install --ignore-scripts
      - run: yarn test
